@font-face {
    font-family: "hare";
    src: url(../fonts/Harenosora.otf);
}

.center {
  text-align: center;
}
.title0 {
    text-align: center;
    font-size: 100px;
}
.hare {
    font-family: "hare";
    src: url(../fonts/Harenosora);
}

.wf-hannari { font-family: "Hannari"; }